@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

ARMETALCO S.A.S

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #1d366a;
$tertiary_color: #8cc63f;
$background: #f2f2f2;
$border: #ccc;

/* ---------- General ---------- */

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	color: $primary_color;
}

a {
	color: $secondary_color;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.line_blue {
		height: 10px;
		background-color: $secondary_color;
	}
	.custom_t1 {
		padding: 5px 0;
	}
	ul.custom_t2 {
		height: 86px;
		background: transparent;
		li {
			padding: 0 15px !important;
			background: {
				image: url(custom_t2_li_bg.png);
				position: right;
				repeat: no-repeat;
			}
			&.active,
			&.hover {
				a {
					background: transparent;
					background-color: $tertiary_color;
					color: #fff;
				}
			}
			a {
				height: 86px;
				padding: {
					left: 15px;
					right: 15px;
				}
				border: none;
				color: $primary_color;
				span {
					height: 86px;
					line-height: 86px;
					em.arrow {
						top: 35px;
					}
				}
			}
			.dj-subwrap {
				background-color: #fff;
				ul.dj-submenu {
					margin: 0;
					li {
						background: none;
						border: none;
						&.hover {
							a {
								background-color: $background;
							}
						}
						a {
							height: inherit;
							background-color: #fff;
							color: $primary_color;
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	background: {
		image: url(banner_bg.jpg);
		position: top;
		repeat: repeat-x;
	}
	.moduletable_ba1 {
		margin: 10px 0;
	}
}

/* Banner Home */

.banner_home {
	background: {
		image: url(banner_bg.png);
		repeat: repeat-x;
	}
	.columns {
		padding: 0;
		.moduletable_bh1 {
			margin: 10px 0;
			#djslider-loader90 {
				.slide-desc {
					width: 40% !important;
					bottom: 20% !important;
					float: right;
					position: sticky;
					.slide-desc-in {
						.slide-desc-bg {
							background: rgba(29, 54, 106, 0.65);
						}
						.slide-desc-text {
							padding: 15px;
						}
					}
				}
			}
		}
	}
}

/* Component */

.component,
.component_white {
	padding: 30px 0;
	.blog-featured {
		.page-header {
			h1 {
				font-size: 18px;
				text-align: center;
			}
		}
	}
	.blog,
	.blog_white,
	.chronoform {
		h2 {
			font-size: 18px;
			color: $secondary_color;
		}
		.box_1,
		.box_2 {
			padding: 15px;
		}
		.box_2 {
			background-color: $background;
			border: 1px solid $border;
		}
		a.button {
			margin: 0;
			background-color: $secondary_color;
		}
		.avatar-copyright {
			display: none;
		}
	}
}

.component_white {
	background: {
		image: url(component_white_bg.jpg);
		position: top;
		repeat: repeat-x;
	}
	.blog_white,
	.chronoform {
		padding: 15px;
		background-color: #fff;
		border: 1px solid $border;
	}
}

/* Service */

.service {
	padding: 30px 0;
	background-color: $background;
	.moduletable_se1 {
		a.button {
			width: 280px;
			margin: 0;
			background-color: $secondary_color;
		}
	}
}

/* Project */

.project {
	padding: 30px 0;
	.moduletable_pr1 {
		a.button {
			margin: 0;
			background-color: $secondary_color;
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		font-size: 14px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright_wrap {
	padding-bottom: 10px;
	background-color: $secondary_color;
	.copyright {
		color: #fff;
		text-align: center;
		a {
			color: #fff;
		}
	}
}

/* ---------- Components ---------- */

/* ChronoForms */

.chronoform {
	h2 {
		margin: 0;
		margin-bottom: 15px;
		font-size: 18px;
		color: $secondary_color;
		text-transform: uppercase;
	}
	label {
		display: none;
	}
	#ftr-acepto {
		label {
			display: inline-block;
		}
	}
	input[type=text],
	textarea {
		background-color: $background;
		border: none;
		box-shadow: none;
		font-size: 12px;
		&::placeholder {
			color: rgba(0, 0, 0, 0.8);
		}
	}
	#ftd-enviar {
		text-align: center;
	}
	.button {
		margin: 0;
		padding: 5px;
		background-color: $secondary_color;
		font-size: 12px;
		text-transform: uppercase;
	}
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
	a {
		font-size: 0;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		ul.custom_t2 {
			height: inherit;
			margin: 0;
			li {
				padding: 0 5px !important;
				background: none;
				a {
					height: inherit;
				}
			}
		}
	}

	/* Banner Home */

	.banner_home {
		.columns {
			.moduletable_bh1 {
				#djslider-loader90 {
					.slide-desc {
						width: 100% !important;
						bottom: 0% !important;
						float: none;
						.slide-desc-text {
							padding: 15px;
							.slide-title {
								margin: 0;
								text-align: center;
							}
							.slide-text {
								display: none;
							}
						}
					}
				}
			}
		}
	}

	/* Bottom */

	.bottom {
		.moduletable_bo1 {
			span {
				display: block;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}